{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Επικοινωνήστε μαζί μας | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <h2>Φόρμα Επικοινωνίας</h2>
            <p class="text-muted">
                Μπορείτε να επικοινωνήσετε μαζί μας συμπληρώνοντας την παρακάτω φόρμα επικοινωνίας.<br>
                Κάποιος εκπρόσωπός μας θα επικοινωνήσει σύντομα μαζί σας.
            </p>
            <br>
            <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit"
                       class="btn btn-block btn-outline-info ts-btn-info ts-cursor-pointer"
                       value="Αποστολή"/>
            </form>
        </div>
    </div>
{% endblock content %}