{% extends 'base.html' %}
{% load accentify %}

{% block head_title %}Συνεντεύξεις | {{ block.super }}{% endblock %}

{% block content %}
    <!-- INTERVIEWS -->
    {% if interviews %}
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <hr class="mb-2">
                    <h6><strong>Συνεντεύξεις</strong></h6>
                </div>
                <div class="col-12 px-2">
                    {% for interview in interviews %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                    <div class="col-4 px-2 ts-latest-interviews-container">
                        <a href="{{ interview.get_absolute_url }}">
                            {% if interview.interviewee.profile_image %}
                                <div class="thumbnail mb-2">
                                    <div class="img-wrapper">
                                        <img class="img-fluid ts-latest-interviews-image grayscale"
                                             src="{{ interview.interviewee.profile_image.url }}"
                                             alt="{{ interview.interviewee.slug }}">>
                                    </div>
                                </div>
                            {% endif %}
                            <h6 class="ts-interview-title">
                                <strong>{{ interview.interviewee.get_full_name }}</strong>
                            </h6>
                            <p class="ts-interview-subtitle">
                                <em>&ldquo;{{ interview.title|accentify|upper|truncatechars:120 }}&rdquo;</em>
                            </p>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <hr class="mb-2">
                    <h6>
                        Δεν βρέθηκαν ενεργές συνεντεύξεις στη συγκεκριμένη κατηγορία.<br>
                        Παρακαλούμε δοκιμάστε μια άλλη κατηγορία από το βασικό μενού πλοήγησής μας.
                    </h6>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!-- PAGINATION -->
{% block pagination %}
    {% if is_paginated %}
        {% if interviews %}
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="float-left"
                           href="?{{ page_request_var }}={{ page_obj.previous_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="float-right"
                           href="?{{ page_request_var }}={{ page_obj.next_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </span>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}