{% load staticfiles %}

<nav class="navbar navbar-toggleable-md navbar-light fixed-top ts-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#ts-navbar" aria-controls="ts-navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30"
             class="d-inline-block align-top" alt="logo">
        The Spotlight
    </a>

    <div class="collapse navbar-collapse" id="ts-navbar">
        <ul class="navbar-nav mr-auto align-self-center">

            <li class="nav-item dropdown pl-0 pl-sm-3">
                <a class="nav-link dropdown-link"
                   href="{% url 'interviews:list' %}">Συνεντεύξεις</a>
                <a class="nav-link dropdown-toggle dropdown-caret" id="dropdown01"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% if interviews %}
                        {% for category in interviews.all %}
                            <a class="dropdown-item"
                               href="{% url 'interviews:category' category.slug %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>

            <li class="nav-item dropdown pl-0 pl-sm-3">
                <a class="nav-link dropdown-link"
                   href="{% url 'suggestions:list' %}">Προτάσεις</a>
                <a class="nav-link dropdown-toggle dropdown-caret" id="dropdown01"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% if suggestions %}
                        {% for category in suggestions.all %}
                            <a class="dropdown-item"
                               href="{% url 'suggestions:category' category.slug %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>

            <li class="nav-item pl-0 pl-sm-3">
                <a class="nav-link" href="{% url 'contact' %}">
                    Επικοινωνήστε μαζί μας
                </a>
            </li>
        </ul>

        <div id="ts-share" class="align-self-center ts-blank-link hidden-md-down">
            <a href="https://www.facebook.com/thespotlightgr-1105744862874930/" target="_blank"
               class="pr-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/thespotlightgr/" target="_blank" class="pr-2">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/thespotlight.gr/" target="_blank" class="pr-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <form id="ts-search-form" method="GET" action="" class="form-inline my-2 my-md-0 my-lg-0">
            <div class="input-group col-sm-12">
                <input type="text" class="form-control" name="q" value="{{ request.GET.q }}"
                       placeholder="Αναζήτηση...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-info ts-btn-info ts-cursor-pointer" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>