{% extends 'base.html' %}

{% block head_title %}Προτάσεις | {{ block.super }}{% endblock %}

{% block content %}
    <!-- SUGGESTIONS -->
    {% if suggestions %}
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <hr class="mb-2">
                    <h6><strong>Προτάσεις</strong></h6>
                </div>
                <div class="col-12 px-2">
                    {% for suggestion in suggestions %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                    <div class="col-4 px-2 ts-latest-interviews-container">
                        <a href="{{ suggestion.get_absolute_url }}">
                            {% if suggestion.image %}
                                <div class="mb-2">
                                    <div class="card ts-card">
                                        <div class="card-img-overlay overlay"></div>
                                        <img class="img-fluid ts-latest-interviews-image"
                                             src="{{ suggestion.image.url }}"
                                             alt="{{ suggestion.slug }}">
                                    </div>
                                </div>
                            {% endif %}
                            <h6 class="ts-interview-title">
                                <strong>
                                    {{ suggestion.title|truncatechars:120 }}
                                </strong>
                            </h6>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <hr class="mb-2">
                    <h6>
                        Δεν βρέθηκαν ενεργές προτάσεις στη συγκεκριμένη κατηγορία.<br>
                        Παρακαλούμε δοκιμάστε μια άλλη κατηγορία από το βασικό μενού πλοήγησής μας.
                    </h6>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!-- PAGINATION -->
{% block pagination %}
    {% if is_paginated %}
        {% if interviews %}
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="float-left"
                           href="?{{ page_request_var }}={{ page_obj.previous_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="float-right"
                           href="?{{ page_request_var }}={{ page_obj.next_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </span>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}