appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.9
Django==1.11
django-ckeditor==5.2.2
django-crispy-forms==1.6.1
django-wysiwyg==0.8.0
google-api-python-client==1.6.2
html5lib==1.0b8
httplib2==0.10.3
idna==2.5
oauth2client==4.1.0
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-gflags==3.1.1
pytidylib==0.3.2
pytz==2017.2
rsa==3.4.2
six==1.10.0
Unidecode==0.4.20
uritemplate==3.0.0
