<footer id="footer">
    <div class="container text-center">
        <hr>
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-12 offset-sm-0">
                <div class="row">
                    <div class="col-md-4 col-sm-12 pb-3 pb-md-0">
                        <strong><a href="https://www.facebook.com/thespotlightgr-1105744862874930/">Facebook</a></strong>
                    </div>
                    <div class="col-md-4 col-sm-12 pb-3 pb-md-0">
                        <strong><a href="https://twitter.com/thespotlightgr/">Twitter</a></strong>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <strong><a href="https://www.instagram.com/thespotlight.gr/">Instagram</a></strong>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p>&copy; 2017 thespotlight.gr</p>
            </div>
        </div>
    </div>
</footer>