{% extends 'base.html' %}
{% load accentify %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12 pt-4">
            <h5 id="ts-interview-main-title">
                <em>
                    {{ interview.interviewee.get_full_name|accentify|upper }}:&nbsp;
                    &ldquo;{{ interview.title|accentify|upper }}&rdquo;
                </em>
            </h5>
            <hr>

            <div id="ts-interview-header-container" class="row mb-3">
                <div id="ts-interview-header" class="col-6">
                    <span class="fa fa-calendar-o"></span>
                    <time>{{ interview.publish|date:"F d, Y"|accentify|upper }}</time>
                    <span class="text-muted">
                        | By
                        {% if interview.author.get_full_name %}
                            {{ interview.author.get_full_name }}
                        {% else %}
                            {{ interview.author.username }}
                        {% endif %}
                    </span>
                </div>

                <div id="ts-m-interview-header" class="col-6">
                    <div class="row">
                        <div class="col pl-sm-0">
                            <span class="fa fa-calendar-o"></span>
                            <time>{{ interview.publish|date:"F d, Y"|accentify|upper }}</time>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pl-sm-0">
                            <span class="text-muted">
                                By
                                {% if interview.author.get_full_name %}
                                    {{ interview.author.get_full_name }}
                                {% else %}
                                    {{ interview.author.username }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-6 text-right align-self-center">
                    <span class="fa fa-clock-o"></span>
                    <span>
                        {{ interview.read_time }}
                        {% if  interview.read_time > 1 %} λεπτά{% else %} λεπτό {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <img src="{{ interview.interviewee.profile_image.url }}" alt="{{ interview.interviewee.profile_image }}"
                 id="ts-interview-cover-image" class="img-fluid">

            <div id="ts-m-interview-cover-image-container" class="row">
                <img src="{{ interview.interviewee.profile_image.url }}"
                     alt="{{ interview.interviewee.profile_image }}"
                     id="ts-m-interview-cover-image" class="img-fluid">
            </div>

            {% if interview.interviewee.photographer %}
                <div class="row">
                    <div id="ts-interview-photographer" class="col-12 mt-1 text-right ts-small-text">
                        <small>Photo by {{ interview.interviewee.photographer }}</small>
                    </div>
                </div>
            {% endif %}

            <div class="mt-3">
                {% if interview.draft %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>[Staff only]</strong>&nbsp;<span>Draft</span>
                    </div>
                {% endif %}

                {% if interview.publish > today %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>[Staff only]</strong>&nbsp;<span>Future Interview</span>
                    </div>
                {% endif %}

                <hr>
                <div class="row">
                    <div id="ts-interviewee-short-description" class="col-12">
                        <h6 class="mb-3"><strong>Σύντομο Προφίλ</strong></h6>
                        {% if interview.interviewee.get_full_name %}
                            <strong>Όνομα: </strong>
                            <span>{{ interview.interviewee.get_full_name }}</span>
                            <br>
                        {% endif %}

                        {% if interview.interviewee.date_of_birth %}
                            <strong>Ημερομηνία γέννησης: </strong>
                            <span>{{ interview.interviewee.date_of_birth|date:"d E Y"}}</span>
                            <br>
                        {% endif %}

                        {% if interview.interviewee.place_of_birth %}
                            <strong>Τόπος γέννησης:</strong>
                            <span>{{ interview.interviewee.place_of_birth }}</span>
                            <br>
                        {% endif %}

                        {% if interview.interviewee.occupation %}
                            <strong>Ενασχόληση:</strong>
                            <span>{{ interview.interviewee.occupation }}</span>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <div id="ts-interview-content">
                    {{ interview.content|safe }}
                </div>
            </div>
        </div>

        <div id="ts-interview-adds" class="col-md-4 hidden-sm-down">
            <div class="adds text-center">
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
                <p>Adds will be placed here</p>
            </div>
        </div>
    </div>
{% endblock %}