{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}

                {% load wysiwyg %}
                {% wysiwyg_setup %}
                {% wysiwyg_editor 'id_content' %}

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}