{% extends 'base.html' %}
{% load accentify %}

{% block head_title %}All Interviews | {{ block.super }}{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <h1 class="display-3 animated bounceInLeft">
                {% if request.user.first_name or request.user.last_name %}
                    Καλωσόρισες,
                    {% if request.user.first_name %}
                        {{ request.user.first_name }}!
                    {% else %}
                        {{ request.user.username }}!
                    {% endif %}
                {% else %}
                    Καλωσόρισες!
                {% endif %}
            </h1>
            <p class="lead animated bounceInRight">Μόνο συνεντεύξεις!</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if interviews %}
        <div class="row">
            <div class="col">
                <h4>Νέες συνεντεύξεις</h4>
            </div>
        </div>
    {% endif %}

    <div class="row mt-3">
        {% if interviews %}
            {% for interview in interviews %}
                <div class="col-md-4 ts-interview">
                    {% if interview.interviewee.profile_image %}
                        <div class="mb-2">
                            <a href="{{ interview.get_absolute_url }}">
                                <div class="card ts-card">
                                    <div class="card-img-overlay overlay"></div>
                                    <img class="img-fluid ts-interview-image"
                                         src="{{ interview.interviewee.profile_image.url }}"
                                         alt="{{ interview.interviewee.slug }}">
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    <h6 class="ts-interview-title">
                        <strong>{{ interview.interviewee.get_full_name }}</strong>
                    </h6>
                    <p class="ts-interview-subtitle">
                        <em>&ldquo;{{ interview.title|accentify|upper|truncatechars:120 }}&rdquo;</em>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no interviews available.</p>
        {% endif %}
    </div>
{% endblock %}

{% block pagination %}
    {% if interviews %}
        <div class="row">
            <div class="col-md-4">
                <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}