{% extends 'base.html' %}

{% block head_title %}All Interviewees | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        {% if interviewees %}
            {% for interviewee in interviewees %}
                <div class="col-sm-4 mb-3">
                    <a href="{{ interviewee.get_absolute_url }}">
                        <div class="card card-inverse text-center">
                            <!-- Image -->
                            <img class="card-img img-fluid" src="{{ interviewee.profile_image.url }}"
                                 alt="{{ interviewee.get_full_name|slugify }}">

                            <!-- Text Overlay -->
                            <div class="card-img-overlay overlay">
                                <h6 class="card-title">{{ interviewee.get_full_name }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no Interviewees available.</p>
        {% endif %}
    </div>
{% endblock %}