{% extends 'base.html' %}
{% load accentify %}

{% block head_title %}All Interviews | {{ block.super }}{% endblock %}

{% block jumbotron %}
    {% if interviews %}
        <div id="ts-carousel" class="carousel slide mb-0" data-ride="carousel">
            <ol class="carousel-indicators ts-carousel-indicators">
                {% for interview in interviews %}
                    <li data-target="#ts-carousel" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for interview in interviews %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                        <img id="ts-carousel-cover-image" class="img-fluid"
                             src="{{ interview.interviewee.profile_image.url }}"
                             alt="{{ interview.interviewee.slug }}">
                        <div id="ts-carousel-overlay"></div>
                        <div class="container">
                            <a href="{{ interview.get_absolute_url }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1 class="animated bounceInLeft">
                                        <strong>{{ interview.interviewee.get_full_name }}</strong></h1>
                                    <p class="animated bounceInRight">
                                        <em>&ldquo;{{ interview.title|accentify|upper|truncatechars:120 }}&rdquo;</em>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#ts-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#ts-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if interviews %}

            <!-- NEW INTERVIEW -->
            <div class="col-md-8 px-md-0">
                <div class="px-2 mb-3">
                    <hr class="mb-2">
                    <h6><strong>Νεα συνέντευξη</strong></h6>
                </div>
                {% with interviews|first as interview %}
                    <div class="ts-interview px-2">
                        {% if interview.interviewee.profile_image %}
                            <div class="mb-2">
                                <a href="{{ interview.get_absolute_url }}">
                                    <div class="card ts-card">
                                        <div class="card-img-overlay overlay"></div>
                                        <img class="img-fluid ts-interview-image"
                                             src="{{ interview.interviewee.profile_image.url }}"
                                             alt="{{ interview.interviewee.slug }}">
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        <h5 class="ts-new-interview-title mt-3">
                            <em>{{ interview.interviewee.get_full_name|accentify|upper }}:
                                &ldquo;{{ interview.title|accentify|upper|truncatechars:120 }}&rdquo;
                            </em>
                        </h5>
                        <hr class="mb-2">
                        <strong class="ts-small-text">{{ interview.publish|date:"F d, Y"|accentify|upper }}</strong>
                        <div id="ts-interview-content">
                            {{ interview.content|safe|truncatewords:200 }}
                        </div>
                        <a href="{{ interview.get_absolute_url }}">
                            <button type="button" class="btn btn-secondary ts-btn-general">
                                <strong class="ts-small-text">Διάβασε περισσότερα...</strong>
                            </button>
                        </a>
                    </div>
                {% endwith %}
            </div>

            <!-- MOST READ INTERVIEWS -->
            <div class="col-md-4 px-md-0">
                <div class="px-2 mb-3">
                    <hr class="mb-2 ts-mt-sm-5">
                    <h6><strong>Πιο δημοφιλής συνεντεύξεις</strong></h6>
                </div>
                {% for interview in most_read %}
                    <div class="row">
                        <div class="ts-interview px-4">
                            {% if interview.interviewee.profile_image %}
                                <div class="mb-2">
                                    <a href="{{ interview.get_absolute_url }}">
                                        <div class="card ts-card">
                                            <div class="card-img-overlay overlay"></div>
                                            <img class="img-fluid ts-interview-image"
                                                 src="{{ interview.interviewee.profile_image.url }}"
                                                 alt="{{ interview.interviewee.slug }}">
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            <h6 class="ts-interview-title">
                                <strong>{{ interview.interviewee.get_full_name }}</strong>
                            </h6>
                            <p class="ts-interview-subtitle">
                                <em>&ldquo;{{ interview.title|accentify|upper|truncatechars:120 }}&rdquo;</em>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no interviews available.</p>
        {% endif %}
    </div>

    <!-- LAST WEEK’S INTERVIEWS -->
    <div class="row mb-2">
        <div class="col-md-8 col-sm-12">
            <hr class="mb-2 mt-5">
            <h6><strong>Συνεντεύξεις περασμένης εβδομάδας</strong></h6>
        </div>
        <div class="col-md-4 hidden-sm-down">
            <hr class="mb-2 mt-5">
            <h6><strong>A-Z Κατάλογος Συνεντεύξεων</strong></h6>
            <div id="ts-interview-directory" class="pre-scrollable mt-3 px-3" style="overflow-x: hidden;">
                {% for interview in interviews %}
                    <a href="{{ interview.get_absolute_url }}">
                        <div class="row mb-2">
                            <div class="col-md-4 px-0">
                                <div class="card ts-card">
                                    <div class="card-img-overlay overlay p-0"></div>
                                    <img class="img-fluid"
                                         src="{{ interview.interviewee.profile_image.url }}"
                                         alt="{{ interview.interviewee.slug }}">
                                </div>
                            </div>
                            <div class="col-md-8 align-self-center">
                                <h6 class="ts-interview-title ts-small-text">
                                    <strong>{{ interview.interviewee.get_full_name }}</strong>
                                </h6>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pagination %}
    {% if interviews %}
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="float-left" href="?{{ page_request_var }}={{ page_obj.previous_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="float-right" href="?{{ page_request_var }}={{ page_obj.next_page_number }}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% endif %}
{% endblock %}