{% load staticfiles %}

<nav class="navbar navbar-toggleable-md navbar-light fixed-top ts-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#ts-navbar" aria-controls="ts-navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{% url 'interviews:home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30"
             class="d-inline-block align-top" alt="logo">
        The Spotlight
    </a>

    <div class="collapse navbar-collapse" id="ts-navbar">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                {% if category.sub_categories.all.count >= 1 %}
                    <li class="nav-item dropdown dropdown-li">
                        <a class="dropdown-link" href="{{ category.slug }}">
                            {{ category.name }}
                        </a>
                        <a class="nav-link dropdown-toggle dropdown-caret" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            {% for sub_category in category.sub_categories.all %}
                                <a class="dropdown-item"
                                   href="/?category={{ sub_category.slug }}">{{ sub_category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% elif not category.sub_categories.all %}
                    <li class="nav-item {% if category.id == selected %}active{% endif %}">
                        <a class="nav-link"
                           href="/?category={{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div id="ts-share" class="align-self-center ts-blank-link my-2 hidden-sm-down">
            <a href="https://www.facebook.com/thespotlightgr-1105744862874930/" target="_blank"
               class="pr-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/thespotlightgr/" target="_blank" class="pr-2">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/thespotlight.gr/" target="_blank" class="pr-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <!-- Facebook Login Button -->
        <div class="fb-login-button align-self-center my-2" data-max-rows="1" data-size="medium"
             data-button-type="continue_with" data-show-faces="false"
             data-auto-logout-link="true" data-use-continue-as="true">
        </div>

        <form method="GET" action="" class="form-inline my-2 my-lg-0">
            <div class="input-group col-sm-12">
                <input type="text" class="form-control" name="q" value="{{ request.GET.q }}"
                       placeholder="Αναζήτηση...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-info ts-btn-info ts-cursor-pointer"
                            type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>