{% load staticfiles %}

<nav class="navbar navbar-toggleable-md navbar-light fixed-top ts-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#ts-navbar" aria-controls="ts-navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{% url 'interviews:list' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
        The Spotlight
    </a>

    <div class="collapse navbar-collapse" id="ts-navbar">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                {% if category.sub_categories.all.count >= 1 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ category.slug }}"
                           id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">{{ category.name }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            {% for sub_category in category.sub_categories.all %}
                                <a class="dropdown-item"
                                   href="/?category={{ sub_category.slug }}">{{ sub_category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% elif not category.sub_categories.all %}
                    <li class="nav-item {% if category.id == selected %}active{% endif %}">
                        <a class="nav-link" href="/?category={{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div id="ts-share" class="align-self-center ts-blank-link">
            <a href="https://www.facebook.com/thespotlightgr-1105744862874930/" target="_blank" class="pr-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/thespotlightgr/" target="_blank" class="pr-2">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/thespotlight.gr/" target="_blank" class="pr-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <div id="ts-fb-like-btn" class="fb-like align-self-center"
             data-href="https://www.facebook.com/thespotlightgr-1105744862874930/"
             data-layout="button_count"
             data-action="like"
             data-size="small"
             data-show-faces="false"
             data-share="false">
        </div>

        <form class="form-inline my-2 my-lg-0">
            <div class="input-group col-sm-12">
                <input type="text" class="form-control" placeholder="Αναζήτηση...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-info ts-btn-search" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>