{% load staticfiles %}

<nav class="navbar navbar-toggleable-md navbar-light fixed-top ts-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#ts-navbar" aria-controls="ts-navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{% url 'interviews:home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30"
             class="d-inline-block align-top" alt="logo">
        The Spotlight
    </a>

    <div class="collapse navbar-collapse" id="ts-navbar">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                {% if category.sub_categories.all.count >= 1 %}
                    <li class="nav-item dropdown dropdown-li">
                        <a class="dropdown-link" href="{{ category.slug }}">
                            {{ category.name }}
                        </a>
                        <a class="nav-link dropdown-toggle dropdown-caret" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            {% for sub_category in category.sub_categories.all %}
                                <a class="dropdown-item"
                                   href="/?category={{ sub_category.slug }}">{{ sub_category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% elif not category.sub_categories.all %}
                    <li class="nav-item {% if category.id == selected %}active{% endif %}">
                        <a class="nav-link"
                           href="/?category={{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div id="ts-share" class="align-self-center ts-blank-link">
            <a href="https://www.facebook.com/thespotlightgr-1105744862874930/" target="_blank"
               class="pr-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/thespotlightgr/" target="_blank" class="pr-2">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/thespotlight.gr/" target="_blank" class="pr-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <form method="GET" action="" class="form-inline my-2 my-lg-0">
            <div class="input-group col-sm-12">
                <input type="text" class="form-control" name="q" value="{{ request.GET.q }}"
                       placeholder="Αναζήτηση...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-info ts-btn-info ts-cursor-pointer"
                            type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>

        <!-- Facebook Login Button trigger modal -->
        <button type="button" id="ts-fb-login-btn"
                class="btn btn-outline-info ts-btn-info ts-cursor-pointer align-self-center"
                data-toggle="modal" data-target="#ts-loginModal">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Log In/Out
        </button>

        <!-- Login Modal -->
        <div class="modal fade" id="ts-loginModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ts-loginModalLabel">Log In</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <form method="POST" action="" id="login_form"
                                          class="form-horizontal">
                                        {% csrf_token %}
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"
                                                               aria-hidden="true"></i>
                                                        </span>
                                                        <input name="first_name"
                                                               placeholder="Username"
                                                               class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-lock"
                                                               aria-hidden="true"></i>
                                                        </span>
                                                        <input name="email"
                                                               placeholder="Password"
                                                               class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button type="submit"
                                                            class="btn btn-md btn-success btn-block ts-cursor-pointer">
                                                        Log In
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <hr class="mb-1">
                            <div class="row mb-3">
                                <div class="col text-center">
                                    <small class="text-muted text-center">Or connect with</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <div class="fb-login-button"
                                         data-width="300px"
                                         data-max-rows="1"
                                         data-size="medium"
                                         data-button-type="login_with"
                                         data-auto-logout-link="true"
                                         data-use-continue-as="false">
                                        Facebook
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>