html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 3.5em;
    font-family: 'Roboto', sans-serif;
}

.ts-navbar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
}

#ts-container {
    padding-top: 1em;
}

.overlay {
    background: rgba(0, 0, 0, 0.0);
    -webkit-transition: background .25s ease-out;
    -moz-transition: background .25s ease-out;
    -o-transition: background .25s ease-out;
    transition: background .25s ease-out;
}

.overlay:hover {
    background: rgba(0, 0, 0, 0.5);;
}

.ts-interview {
    padding-left: 10px;
    padding-right: 10px;
}

.ts-new-interview-title {
    font-family: 'Roboto Slab', serif;
}

#ts-interview-main-title {
    font-family: 'Roboto Slab', serif;
}

.ts-interview-title,
.ts-interview-subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 0.875em;
}

.ts-interview-title {
    margin-bottom: 0.05rem;
}

.ts-interview-image {
    object-fit: cover;
}

#ts-interview-directory a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#ts-interview-directory a:hover {
    color: #014c8c;
}

.ts-interview-directory-title {
    line-height: 5rem;
}

.ts-card {
    border: none;
}

.ts-small-text {
    font-size: 0.813em;
}

#ts-interview-main-title {
    font-size: 1.375em;
}

#ts-interview-header-container span,
#ts-interview-header-container time {
    font-size: 0.813em;
}

#ts-interviewee-short-description {
    font-family: 'Roboto Slab', serif;
    line-height: 1.125em;
}

#ts-interviewee-short-description strong,
#ts-interviewee-short-description span {
    font-size: 0.813em;
}

#ts-interviewee-short-description > h6 > strong {
    font-size: 1em;
}

#ts-interviewee-short-description span {
    color: #636c72;
}

#ts-interview-cover-image,
#ts-m-interview-cover-image {
    width: 100%;
}

#ts-interview-photographer {
    font-family: 'Roboto Slab', serif;
    color: #636c72;
}

#ts-interview-content {
    margin-top: 3em;
    word-wrap: break-word;
}

#ts-carousel-overlay:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.adds {
    background-color: #f7f7f7;
    color: #292b2c;
    padding: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
}

footer a {
    color: inherit;
}

footer a:hover {
    text-decoration: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.ts-carousel-indicators li {
    text-indent: 0;
    margin: 0 2px;
    width: 15px;
    height: 15px;
    max-width: 15px;
    line-height: 15px;
    border: none;
    border-radius: 100%;
    transition: all 0.25s ease;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

/* -------------------------------------------------- */

#ts-carousel-cover-image {
    object-fit: cover;
}

.bounceInLeft,
.bounceInRight {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
}

#ts-m-interview-header {
    display: none;
}

#ts-m-interview-cover-image-container {
    display: none;
}

.ts-btn-general {
    background-color: #f7f7f7;
    color: #000000;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: background-color .25s ease-out;
    -moz-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
}

.ts-btn-general:hover {
    background-color: #000000;
    color: #ffffff;
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    #ts-interview-content {
        margin-top: 1em;
    }

    #ts-interview-main-title {
        font-size: 1.125em;
        padding-bottom: 1.063em;
    }

    #ts-interview-header {
        display: none;
    }

    #ts-m-interview-header {
        display: block;
        line-height: 1em;
    }

    #ts-interview-cover-image {
        display: none;
    }

    #ts-m-interview-cover-image-container {
        display: block;
    }

    #ts-interview-header-container span,
    #ts-interview-header-container time {
        font-size: 0.625em;
    }
}